@import play.mvc.Http.Request
@(message:String, postform:Form[PostForm], id:Int, loginUser:UserEntity)(implicit request: Request, messages: play.i18n.Messages)

@main("edit post", request, loginUser) {
    <p>@message</p>

    @helper.form(action=routes.HomeController.update(id)) {
        
        @helper.CSRF.formField
        @helper.inputText(postform("title"))
        @helper.textarea(postform("message"))
        @helper.inputText(postform("link"))
        <button>内容を更新する</button>

    }

}