@import play.mvc.Http.Request
@(msg:String, data:List[MicropostEntity])(implicit request: Request, messages: play.i18n.Messages)

@main("Welcome to Play") {

    <h1>掲示板</h1>
    
    <h2>@msg</h2>
    <ul>
      @for(post <- data) {
        <li>
          <div>投稿ID：@post.getId()</div>
          <div>投稿者：@post.user.getName()</div>
          <div>タイトル：@post.getTitle()</div>
          @post.getMessage()<br>
          <a href="@post.getLink()">@post.getLink()</a><br>
          @post.getDate()<br>
        </li>
        <br>
      }
    </ul>
  }